.contenedor-conocenos{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 5rem 10rem 5rem;
    align-items: center;
}
.conocenos__contImg{
    width: 50%;
  
}
.conocenos__img{
    width: 100%;
    max-width: 600px;
    border: 10px solid #fff;
    -webkit-transform: rotate(2.1deg);
    transform: rotate(2.2deg);
    overflow: hidden;
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.2);
}

.conocenos__descripcion{
    width: 50%;
    padding-left: 10rem;
}
.conocenos__descripcion__img{
    background-image: url('../../assets/papel.png');
    -webkit-transform: rotate(-3.1deg);
    transform: rotate(-3.2deg);
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.2);
}
.conocenos__imgDescripcion__parrafo{
    padding: 10rem 5rem 10rem 5rem;
    text-align: left;
    font-family: 'Timmana', sans-serif;
    font-size: 1.8em;
}


@media (max-width: 400px) {
    .conocenos__contImg{
        width: 100%;
    }
    .conocenos__descripcion{
        width: 100%;
        padding-top: 5vh;
        padding-left: 0;
    }
    .conocenos__imgDescripcion__parrafo{
        padding: 5vh 2vw 5vh 2vw;
        text-align: left;
        font-family: 'Timmana', sans-serif;
        font-size:1.3em;
    }
  }