.contenedor-mapa{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
height: 70vh;
}
.menu__mapas{
width: 20%;
}
.menu__ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.menu__ul__li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(68, 136, 196);
    color: white;
    font-family: 'Timmana', sans-serif;
    font-size: 1.5em;
    border: rgba(125, 204, 245, 0.8) 1px solid;
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}
.menu__ul__li:hover {
    border: rgba(0, 112, 172, 0.945) 3px solid;
}
#mapa{
width: 70%;
}


@media (max-width: 400px) {
    .menu__mapas{
        width: 100%;
        height: 20;
        }
    .contenedor-mapa{
        height: 100vh;
     }   
     .menu__ul{
        flex-direction: row;
       
    }

    #mapa{
        width: 90%;
        height: 70%;
  }
  .menu__ul__li{
    width: 40%;
    font-size: 1.2em;
  }
  }